<!DOCTYPE html>
<html lang="pt_br"><!--lang é um atribulo-->
<head>
    <meta charset="UTF-8"><!---->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sucesso</title>

    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/partials/page-success.css">
    
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
</head>
<body id="page-success">

    <div id="container">
        <div class="logo-container">
            <img src="/images/icons/success-check-icon.svg" alt="Confirmado">
            <h2>Sucesso</h2>
        </div>

        <img class="hero-image" src="/images/success-background.svg" alt="background">
      
       <p class="text-confirm">
           Tudo certo, seu cadastro está na nossa lista de professores!!<br> Agora é só ficar de olho no seu Whatsapp
       </p>
       

    </div>
</body>
</html>